{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Categories | Blog'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Categories'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <a class="btn btn-outline-primary" href="{{ url('post_index')}}" title="{{ 'action.go_to_posts'|trans }}">
            {{ 'Go to posts'|trans }}
        </a>
        <a class="btn btn-outline-warning" href="{{ url('category_create')}}" title="{{ 'action.create'|trans }}">
            {{ 'Create new category'|trans }}
        </a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'category.title') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'Details'|trans }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'Edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'Delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}