{% extends 'base.html.twig' %}

{% block title %}
    {{ 'User\'s Profile | Blog'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'User\'s Profile'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'Email'|trans }}</dt>
            <dd>{{  user.email }}</dd>
        </dl>
        <p>
            <a href="{{ url('post_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'Back to list of posts'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'There is no such user.'|trans }}
        </p>
    {% endif %}
{% endblock %}